<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="TranslateHelper.actionSet">
         <menu
               label="翻译助手"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="翻译助手"
               icon="icons/sample.gif"
               class="translatehelper.actions.SampleAction"
               tooltip="翻译助手"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="translatehelper.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
